<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>Resizaar</string>
    <key>CFBundleDisplayName</key>
    <string>Resizaar</string>
    <key>CFBundleIdentifier</key>
    <string>com.yourdomain.resizaar</string>
    <key>CFBundleVersion</key>
    <string>1.0.0</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleExecutable</key>
    <string>Resizaar</string>
    <key>CFBundleIconFile</key>
    <string>icon.icns</string>
</dict>
</plist>